:root {
  --common-color-1: #251f32;
  --common-color-2: #fea82f;
  --common-color-3: #677db7;
  --common-color-3: #ffb5b5;
  --common-color-4: #ff6b6b;
}

.chat-container {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 340px;
  max-height: 500px;
  border-radius: 20px;
  color: #f0f0f0;
  box-shadow: 0 8px 24px rgba(37, 31, 50, 0.6);
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
}

.chat-title {
  text-align: center;
  font-size: 1.1rem;
  margin: 13px 0;
  color: #ffffff;
}

.chat-header {
  background-color: var(--common-color-2);
}


.chat-log {
  background-color: #ffffff;
  overflow-y: auto;
  padding: 10px;
}


.chat-message.you {
  color: var(--common-color-1);
}

.chat-message.gemini {
  color: var(--common-color-1);
}

.chat-input-area {
  background-color: #ffffff;
  padding: 10px;
}

.chat-input {
  padding: 8px;
  background-color: #f4f4f4;
  color: var(--common-color-1);
  border: 2px solid var(--common-color-1);
  border-radius: 20px;
  flex: 1;
}

.chat-input:focus {
  background-color: var(--common-color-1);
  color: white;
}

.sender-name {
  color: var(--common-color-2);
}

.message-text, .welcome-message {
  color: var(--common-color-1);
}

.send-button {
  background-color: var(--common-color-1);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #fea82f;
  color: white;
}

.typing-indicator {
  font-size: 0.9em;
  color: #bbb;
  font-style: italic;
}

.chat-log::-webkit-scrollbar {
  width: 8px;
}

.chat-log::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.chat-log::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

@media screen and (max-width: 375px) {

  .chat-container {
    width: 90%;
    bottom: 150px;
    right: 5%;
  }

  .chat-input {
    width: calc(100% - 25px);
  }
}

.chat-container {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}