:root {
  --common-color-1: #251f32;
  --common-color-2: #fea82f;
  --common-color-3: #677db7;
  --common-color-3: #ffb5b5;
  --common-color-4: #FF6B6B;
}


img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.mySwiper {
  width: 100%;
  min-height: 300px;
}

.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  object-fit: cover;
  float: left;
}


.swiper-pagination {
  display: none;
}

.promo-marklabel {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 3px 5px;
  background-color: var(--common-color-4);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

