img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.mySwiper {
  width: 100%;
  min-height: 300px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  object-fit: cover;
  float: left;
}

.swiper-pagination {
  display: none;
}
