:root {
  --common-color-1: #251f32;
  --common-color-2: #fea82f;
  --common-color-3: #677db7;
  --common-color-3: #ffb5b5;
  --common-color-4: #ff6b6b;
}

.header-color-checkout {
  background-color: var(--common-color-1);
}

.checkout {
  font-weight: bold;
  font-size: 1.5rem;
}

.confirm-box {
  border: 1px solid var(--common-color-2);
  border-radius: 40px;
  margin: 200px 0;
  padding: 50px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirm-box h1 {
  color: #19c251; /* verde positivo */
  margin-bottom: 20px;
}

.confirm-box p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #333;
}

.confirm-box button {
  background-color: var(--common-color-2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.confirm-box button:hover {
  background-color: var(--common-color-1);
}

.btn-confirm {
  border: 0;
  border-radius: 20px;
  background-color: var(--common-color-2);
  padding: 12px 20px;
  color: white;
  font-weight: bold;
}
.right-column-small {
  display: none;
}
@media screen and (max-width: 768px) {
  .right-column-small {
    display: block;
    padding-top: 20px;
  }
  .right-column-desktop {
    display: none;
  }
}
