/* // RICORADARE: il progetto è creato con boostrap + custom, se bisogna modificare, fare riferimento alle classi di bootstrap in primis e, in caso, si aggiungono classi custom */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utilities */

.mright-200 {
  margin-right: 200px;
}
/* Common */

:root {
  --common-color-1: #251F32;
  --common-color-2: #FEA82F;
  --common-color-3: #677DB7;
  --common-color-3: #FFB5B5;
}

li {
  list-style-type: none;
}

/* HEADER */

header {
  background-color: var(--common-color-2);
}

.search-control {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 30px;
  padding-left: 20px;
  border: 0px;
}



/* MAIN */
/* FOOTER */
