/* // RICORADARE: il progetto è creato con boostrap + custom, se bisogna modificare, fare riferimento alle classi di bootstrap in primis e, in caso, si aggiungono classi custom */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utilities */
/* Common */

/* HEADER */
/* MAIN */
.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.card-title.name{
  font-size: 16px;
}

.card-text.description {
  font-size: 14px;
}

.card-text.price {
  font-size: 12px;
}
/* FOOTER */
