:root {
  --common-color-1: #251f32;
  --common-color-2: #fea82f;
  --common-color-3: #677db7;
  --common-color-3: #ffb5b5;
}

.slide-content {
  position: relative;
}

.slide-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.slide-content {
  height: 93vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.slide-info {
  margin-top: 320px;
  color: white;
  max-width: 500px;
  z-index: 1;
}

.slide-info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.slide-info p {
  font-size: 0.9rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.cta-button {
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
  border-radius: 30px;
}

.cta-button:hover {
  background-color: var(--common-color-2);
  color: white;
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(196, 108, 108);
}
